.numbers{
    font-size: 64px;
    font-weight: 300;
    color: #1D1D1F;
}
.big-text{
    font-size: 44px;
    font-weight: 700;
    color: #1D1D1F;
    letter-spacing: 1px;
    word-spacing: 1.5px;
}
.right-block{
    margin-left: 40%;
}
.otstup5{
    margin-top: 90px;
}