.footer{
    margin-top: 10%;
    padding-bottom: 10%;
    padding-right: 4%;
    background: #1D1D1F;
    justify-content: space-between;
}
.soc{
    margin-top: 10px;
    gap: 6%;
    cursor: pointer;
}
.address{
    margin-top: 10px;
}
.gray-txt{
    margin-top: 10px;
}
.right-txt{
    margin-top: 8%;
    padding-right: 10%;
}
.line{
    border: solid 1px #838383;
}
.arrow3{
    cursor: pointer;
    padding-left: 90%;
}