.btn2{
    @extend %buttons;
    color: #FFFF;
    background-color: #1D1D1F;
    border: 2px solid black;
    margin-top: 7%;
}
.img1-2{
    width: 50%;
}
.left-block{
    margin-top: 100px;
}
.right-block2{
    margin-left: 5%;
    margin-top: 100px;
}
.padding{
    padding-right: 10%;
}