.slide{
    display:flex;
    background-image: url('9f3b8fdc2af6f3d69a2057c11b7884e4.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
}
.arrow1{
    cursor: pointer;
    position: relative;
    margin: 20% 0 0 90%;
}
.arrow-top1, 
.arrow-bottom1{
    background: #FFFF;
    width: 35px;
    height: 17.5px;
    left: -30px;
    position: absolute;
    top: 60px;
}
.arrow-top1{
    top:64px;
    transform: rotate(45deg);
    transform-origin: bottom right;
}
.arrow-bottom1{
    transform: rotate(-45deg);
    transform-origin: top right;
}
.arrow2{
    cursor: pointer;
    position: relative;
    margin: 22% 0 0 -80%;
}
.arrow-top2, 
.arrow-bottom2{
    background: #FFFF;
    width: 35px;
    height: 17.5px;
    left: -30px;
    position: absolute;
    top: 55px;
}
.arrow-top2{
    top:35px;
    transform: rotate(135deg);
    transform-origin: bottom right;
}
.arrow-bottom2{
    transform: rotate(-135deg);
    transform-origin: top right;
}